<ion-content>
  <div class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <app-link text="Create an account" [routerLink]="['/register']"></app-link>
      <app-button text="Login" type="submit" [disabled]="loginForm.invalid"></app-button>
      <div *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</div>
    </form>
  </div>
</ion-content>