<ion-content>
  <div class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <app-input [formControl]="loginForm.get('email')!" type="email" label="Email">
</app-input>
<app-input [formControl]="loginForm.get('password')!" type="password" label="Password">
</app-input>
      <app-link text="Create an account" [routerLink]="['/register']">
      </app-link>
      <app-button text="Login" type="submit" [disabled]="loginForm.invalid">
      </app-button>
      <div *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</div>
    </form>
  </div>
</ion-content>