.toggle-translate {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.toggle-translate img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 0.2s;
}

.toggle-translate img.selected {
  border-color: #3880ff;
}