<ion-fab vertical="bottom" horizontal="end" slot="fixed">

  <ion-fab-button (click)="toggleMenu()">
    <ion-icon [name]="isOpen ? 'close' : 'add'"></ion-icon>
  </ion-fab-button>

  
  <ion-fab-list side="top" *ngIf="isOpen">
    
    <ion-fab-button color="primary" (click)="onProfileClick()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>

   
    <ion-fab-button color="secondary" (click)="onUploadImageClick()">
      <ion-icon name="images-outline"></ion-icon>
    </ion-fab-button>

    
    <ion-fab-button color="danger" (click)="onLogoutClick()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
