.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #f5f7fa; 
}

.login-card {
  width: 90%;
  max-width: 400px;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 18vh;
}

app-input {
  margin-bottom: 1rem;
  display: block;
}

app-link {
  display: block;
  margin: 1rem 0;
  color: #007bff;
  text-align: center;
}

.language-toggle {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

app-button {
  margin-top: 1.5rem;
  width: 100%;
}

.error {
  color: red;
  margin-top: 1rem;
  text-align: center;
}