<ion-content class="login-content" fullscreen>
  <div class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <app-input label="Email" type="email" formControlName="email"></app-input>
      <app-input label="Password" type="password" formControlName="password"></app-input>

      <app-link text="Register here" [routerLink]="['/register']"></app-link>

      <div class="language-toggle">
        <app-toggle-translate></app-toggle-translate>
      </div>

      <app-button type="submit" label="Sign In"></app-button>

      <div *ngIf="errorMsg" class="error">
        {{ errorMsg }}
      </div>
    </form>
  </div>
</ion-content>
