<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <app-input label="Nombre" type="text" formControlName="name"></app-input>
    <app-input label="Apellido" type="text" formControlName="lastname"></app-input>
    <app-input label="Correo" type="email" formControlName="email"></app-input>
    <app-input label="Contraseña" type="password" formControlName="password"></app-input>
    <app-input label="Confirmar Contraseña" type="password" formControlName="confirmPassword"></app-input>

    <app-button type="submit" label="Registrarse"></app-button>

    <div *ngIf="errorMsg" class="error">
      {{ errorMsg }}
    </div>

    <app-link text="¿Ya tienes cuenta? Inicia sesión" [routerLink]="['/login']"></app-link>
  </form>
</ion-content>
