<ion-content>
  <div class="register-card">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <app-input 
        [label]="'REGISTER.NAME' | translate" 
        type="text" 
        formControlName="name">
      </app-input>
      
      <app-input 
        [label]="'REGISTER.LASTNAME' | translate" 
        type="text" 
        formControlName="lastname">
      </app-input>
      
      <app-input 
        [label]="'REGISTER.EMAIL' | translate" 
        type="email" 
        formControlName="email">
      </app-input>
      
      <app-input 
        [label]="'REGISTER.PASSWORD' | translate" 
        type="password" 
        formControlName="password">
      </app-input>
      
      <app-input 
        [label]="'REGISTER.CONFIRM_PASSWORD' | translate" 
        type="password" 
        formControlName="confirmPassword">
      </app-input>

      <div class="language-toggle">
        <app-toggle-translate></app-toggle-translate>
      </div>

      <app-button 
        type="submit" 
        [label]="'REGISTER.REGISTER' | translate">
      </app-button>

      <div *ngIf="errorMsg" class="error">
        {{ errorMsg }}
      </div>

      <app-link 
        [text]="'REGISTER.LOGIN_LINK' | translate" 
        [routerLink]="['/login']">
      </app-link>
    </form>
  </div>
</ion-content>
