<ion-header>
  <ion-toolbar>
    <ion-title>My Wallpapers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- FAB principal con lista de opciones -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="onProfileClick()">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onAddWallpaperClick()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onLogoutClick()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Mensaje de éxito -->
  <div *ngIf="showSuccess" class="success-msg">
    <ion-chip color="success">
      <ion-label>Success</ion-label>
    </ion-chip>
  </div>
</ion-content>