.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #f5f7fa; 
}

.login-card {
  width: 90%;
  max-width: 400px;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

app-input {
  margin-bottom: 1rem;
  display: block;
}

app-link {
  display: block;
  margin: 1rem 0;
  color: #007bff;
  text-align: center;
}

.language-toggle {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

app-button {
  margin-top: 1.5rem;
  width: 100%;
}

.error {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 24px;    
  --padding-bottom: 100px; 
}

ion-col {
  padding: 10px;
}


app-card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  display: block;
}


app-floating-button {
  position: fixed;
  bottom: 32px;  
  right: 24px;   
  z-index: 1000;
}

.success-msg {
  position: fixed;
  bottom: 110px;  
  left: 50%;
  transform: translateX(-50%);
  background: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  z-index: 1001;
}
